django==4.1.7
pre-commit==2.20.0
Pillow==9.3.0
djangorestframework==3.14.0
django-cors-headers==3.13.0
django-filter==22.1
drf-spectacular==0.25.1
django-environ==0.9.0
dj-rest-auth==2.2.5
boto3==1.26.100
django-storages==1.13.2
psycopg2==2.9.6